@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to top, #d3cce3, #e9e4f0);
}
